@import url('https://fonts.googleapis.com/css2?family=Galada&family=Parisienne&display=swap');

:root {
    --white-key-active-bg-color: #ddd;
    --black-key-active-bg-color: #333;
}

body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 22, 22);
}

.piano {
    margin-top: 5rem;
    display: flex;
}

.white-key {
    width: 100px;
    height: 400px;
    border: 2px solid #000;
    border-right: none;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    box-shadow: .5px .5px 10px;
    border-radius: 0 0 5px 5px;
    -webkit-tap-highlight-color: transparent;
}

.white-key--active {
    background-color: var(--white-key-active-bg-color);
}

.white-key:first-of-type {
    border-radius: 5px 0 5px 5px;
}

.white-key:last-of-type {
    border-right: 2px solid #000;
    border-radius: 0 5px 5px 5px;
}

.key-note {
    font-size: 2rem;
    font-weight: bold;
    user-select: none;
}

.black-key {
    width: 50%;
    height: 75%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 2px 2px 10px #000;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: -25%;
    z-index: 100;
    border-radius: 0 0 5px 5px;
    -webkit-tap-highlight-color: transparent;
}

.black-key--active {
    background-color: var(--black-key-active-bg-color);
}

@media(max-width: 900px) {
    .piano {
        margin-top: 3.75rem;
    }
    
    .white-key {
        width: 75px;
        height: 300px;
    }

    .key-note {
        font-size: 1.5rem;
    }
}

@media(max-width: 700px) {
    .piano {
        margin-top: 2.5rem;
    }

    .white-key {
        width: 50px;
        height: 200px;
    }

    .key-note {
        font-size: 1rem;
    }
}

@media(max-width: 460px) {
    .piano {
        margin-top: 1.6rem;
    }

    .white-key {
        width: 32px;
        height: 128px;
    }

    .key-note {
        font-size: .64rem;
    }
}